@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}  

header{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: rgba(16, 103, 218, 0.219);
} 

.container {
    width: 1280px;
    margin: auto;
} 

.nav_checkbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10px 0px;
} 

.logo {
   text-decoration: none; 
   color: white;
   padding-left: 10px;
} 

.tab-nav {
    outline: none;
    display: none;
} 

.label {
    display: none;
    color: white;
} 

.burger {
   width: 35px;
   height: 5px;
   background-color: white;
   margin-top: 5px;

} 

.content_nav {
    grid-column: 3;
    list-style: none;
    margin: 0;
    padding: 0;
} 

.content_nav li {
    display: inline-block;
    padding-right: 10px;
   
} 

.content_nav li a {
    text-decoration: none;
    color: white;
    position: relative;
}  

.content_nav li a i {
    padding-left: 10px;
    margin-right: 3px;
    
}

.content_nav li a::after {
   content: '';
   display: block;
   height: 2px;
   background: white;
   position: absolute;
   left: 0;
   right: 0;
   transform-origin: left;
   transform: scale(0,1);
   transition: transform ease-in-out 0.5s; 
} 

.content_nav li a:hover::after{
    transform: scale(1,1);

} 

.content_section {
    height: 120vh;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    display: grid;
    justify-items: center;
    align-items: center;
}  
/*------------------------------------------------- Seccion Principal *---------------------------------------------------*/

.content_section .principal_section {
    display: flex; 
} 



.content_section .principal_section .image img {
    width: 650px;
    height: 450px;
    margin-right: 20px;
    border-radius: 10%;
    padding-right: 13% 13%;
} 

.principal_section .legend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
}


.principal_section .legend h1 {
    
    margin-left: 50px;
    font-size: 40px; 
     
}

.principal_section .legend button  {
    align-self: center;
    border-radius: 4px;
    background-color: #cc801dd8;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 32px;
    padding: 16px;
    width: 240px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
} 

.principal_section .legend button a {
    text-decoration: none;
}


.principal_section .legend button:after {
     content: '»';
     position: absolute;
     opacity: 0;  
     top: 14px;
     right: -20px;
     transition: 0.5s;
} 

.principal_section .legend button:hover {
    padding-right: 24px;
    padding-left:8px;
} 

.principal_section .legend button:hover:after {
    opacity: 1;
    right: 10px;
} 

/*------------------------------------------------------- FOOTER---------------------------------------------------------------*/ 

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 210px;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(37,112,200,1) 100%);
    
} 


/*-----------------------------------------------------NEWSLETTER----------------------------------------------------   */
.footer .newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.footer .newsletter h2 {
    margin-top: 10px;
    align-self: center;
    margin-bottom: 15px;
} 

.footer .newsletter input {
    align-self: center;
    border-radius: 10px;
    margin: 5px; 
    
}  

 #submit {
    border: none;
    font-size: 20px;
    width: 100px;
    margin: 16px;
    color: white;
    cursor: pointer;
    background: linear-gradient( to right, rgba(40, 9, 214, 0.603) 50%, rgb(212,125,18)50%) no-repeat left / 200%;
    transition: background-position 0.5s ease;
} 

#submit:hover {
    background-position: right;
    color: black;
} 

/*-----------------------------------------------------------SOCIAL----------------------------------------------------*/

.footer .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 75px;
} 

.footer .social h2 {
    margin-top: 10px;
    align-self: center;
    margin-top: 25px;
    
} 

.footer .social .social-icons {
    margin-top: 10px;
    align-self: center;
    margin-bottom: 15px;
    font-size: 30px;
}


.footer .social .social-icons i {
    margin: 10px;
    cursor: pointer;
}

/*-----------------------------------------------------APP-INFORMATION-------------------------------------------------*/

.footer .app-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 75px;
} 

.footer .app-information h2 {
    align-self: center;
    margin-top: 25px;
} 

.footer .app-information .app-icons {
    margin-top: 10px;
    align-self: center;
    margin-bottom: 15px;
    font-size: 30px;
} 

.footer .app-information .app-icons i {
    margin: 10px;
    cursor: pointer;
}

/*----------------------------------------------------PRODUCTS---------------------------------------------------*/ 


.section_cards {
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    padding-top: 60px;
    padding-bottom: 20px;
}

.container_cards {
    position: relative;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
} 

.container_cards .card {
   width: 100%;
}

.container_card .card .img_card {
    position: relative;
    width: 100%;
    height: 310px;
} 

.container_card .card .img_card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;    
}  

/*----------------------------------------------ABOUT----------------------------------------------------*/ 


.about {
    height: 160vh;
    width: 100%;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;    
} 



.about .main img {
    width: 580px;
    max-width: 100%;
    height: auto;
    padding: 0 10px;
}

.all-text {
    width: 600px;
    max-width: 100%; 
    padding: 0 10px;
} 

.main {
    width: 1290px;
    max-width: 95%;
    margin: 0 auto; 
    display: flex; 
    flex-wrap: wrap;  
    align-items: center;
    justify-content: space-around;
} 

.all-text h4 {
    font-size: 18px;
    color: #777777;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 10px;
}

.all-text h1 {
    font-size: 65px;
    color: #111111;
    font-weight: 700;
    margin-bottom: 20px;
} 

.all-text p {
    font-size: 16px;
    color: #777777;
    line-height: 30px;
    margin-bottom: 35px; 
} 

.btn button {
    background-color: transparent;
    padding: 20px 32px; 
    font-size: 16px;
    font-weight: bold;
    color: #111111;
    border: none;
    outline: none;
    box-shadow: 0px 16px 32px 0px rgb(0 0 0 / 3%);
    border-radius: 10px;
    margin-right: 20px;
} 

.btn button:hover {
    background-color: #ac69b950;
    color: white;
    transition: .7s;
    cursor: pointer;

} 

.btn .btn2 {
    background: rgb(157, 135, 187) ;
} 

/*---------------------------------------------------CONTACT--------------------------------------------------------*/
 


.form {
    width: 340px;
    height: 440px;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin:calc(50vh - 200px) auto ; 
    padding: 20px 30px;
    max-width:calc(100vh -40px); 
    box-sizing: border-box ;
    position: relative;
}

 .form h2 {
    margin: 10px 0 ;
    padding-bottom: 10px;
    width: 180px;
    color: grey;
    border-bottom: 3px solid black;
} 

 .form input {
    width: 100%; 
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    transition: all .3s;
    border-bottom: 2px solid grey;
}

input:focus {
    border-bottom: 2px solid lightblue; 

} 

p::before{
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: gray;
} 

.form button {
    float: right;
    padding: 8px 12px; 
    margin: 8px 0 0;
    border: 2px solid gray;
    background: 0;
    color: black;
    cursor: pointer;
    transition: all .3s;

} 

button:hover {
    background:grey;
    color: white;
} 

.fafa-icons {
    position: absolute;
    bottom: -15px;
    right: -20px;
    background: black;
    color: white;
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 10px 40px -14px #000;
} 

.fafa-icons span {
    margin: 0 5px 0 15px;
} 

/*------------------------------------------------------ACOUNT--------------------------------------------------*/ 

.acount {
    padding: 150px;
    background:radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%) ;
    width: 100%;
    display: flex;
    justify-content: center;
    
    
} 

.acount .form-acount input {
    height: 35px;
    border-radius: 20px;
   
} 

.acount .form-acount h2 {
    margin-bottom: 5px;
}





/*-------------------------------------------------------MEDIA----------------------------------------------------*/ 

@media screen and (max-width:1440px){
    .about .main {
        margin-bottom: 300px;
    }
}


@media screen and (max-width:1280px) {
    .container {
        width: 100%;

    } 

}

@media screen and (max-width: 770px) {
    .label {
        display: grid;
        cursor: pointer;
        grid-column: 3;
        padding-right: 10px;
    }


    .content_nav {
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1/4;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.6s;
    }

    .nav_checkbox input:checked~.content_nav {
        max-height: 500px;

    }

    .content_nav li {
        padding: 15px 0px;

    }

    .content_section .principal_section {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
        margin-top: 50px;
    }


    .content_section .principal_section .image img {
        width: 90%;
        height: 75%;

    }

    .footer {
        height: auto;
        display: flex;
        flex-direction: column;
    }

}

@media screen and (min-width: 771px) {

    .principal_section {
        display: flex;
    }

    .content_section {

        height: 750px;
    }

    .content_section .principal_section .legend {

        margin-bottom: 0px;
    }

    .image {
        align-self: center;
        margin-left: 50px;


    }

    .footer {
        height: 270px;
    }
}


@media screen and (min-width: 425px) {
    .legend h1 {
        margin-right: 50px;
        margin-top: 10px;
    } 

    .container_cards .card {
        display: flex; 
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 375px) {
    .legend h1 {
        margin-right: 50px;
        margin-top: 10px;
    } 

    .container_cards .card {
        display: flex; 
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 320px) {
    .content_section .principal_section .legend h1 {
        font-size: 30px;
    }

    .legend h1 {
        margin-right: 50px;
        margin-top: 10px;
    } 

    .container_cards .card {
        display: flex; 
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1024px) {
    .principal_section {
        margin-top: 50px;
    }
    .about .main {
        margin-top: 300px;
    }
} 

